@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(154,32,163);
  background: linear-gradient(153deg, rgba(154,32,163,1) 36%, rgba(0,221,255,1) 100%); 
  font-family: 'Dosis', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #232323;
  height: inherit;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 16px;
  padding: 30px;
  height: 540px;
  width: 400px;
}
#screen {
  display: flex;
  justify-content: end;
  align-items: center;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.25);
  background-color: white;
  border-radius: 16px;
  margin-bottom: 10px;
  padding: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.buttons button {
  border: none;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.25);
  border-radius: 15px;
  font: inherit;
  font-size: 20px;
}
.coloured {
  background-color: rgb(196, 32, 208);
}
.double {
  grid-column: span 2 / auto;
}
.triple {
  grid-column: span 3 / auto;
}